[submodule "PicoGK"]
	path = PicoGK
	url = https://github.com/leap71/PicoGK.git
[submodule "LEAP71_ShapeKernel"]
	path = LEAP71_ShapeKernel
	url = https://github.com/leap71/LEAP71_ShapeKernel.git
[submodule "larrak-simulation"]
	path = larrak-simulation
	url = https://github.com/mhold3n/larrak-simulation.git
[submodule "larrak-core"]
	path = larrak-core
	url = https://github.com/mhold3n/larrak-core.git
[submodule "larrak-optimization"]
	path = larrak-optimization
	url = https://github.com/mhold3n/larrak-optimization.git
